figure {
  margin: 0 !important;
}

.contenido {
  display: flex;
  gap: 12px;
}

.filtros {
  width: 197px;
}

.listaDeLibros {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  max-width: 100%; /* Asegura que el grid no exceda el ancho del contenedor padre */
  box-sizing: border-box; /* Incluye el padding y border en el tamaño total del elemento */
}

.fotoTapa {
  width: 100%; /* Ajusta el ancho de las imágenes al ancho de su contenedor padre */
  margin-left: auto;
  margin-right: auto;
}

.contenedor-libro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-sizing: border-box; /* Incluye el padding y border en el tamaño total del elemento */
}

.filtroGenero select,
.filtroAutor select {
  width: 100% !important;
}

#filtro-por-genero {
  width: 100%;
}

select {
  border: none !important;
  border-radius: 0;
  outline: none !important;
}
select:hover {
  background-color: rgb(228, 228, 228);
}

@media   (max-width: 1200px) {
  .listaDeLibros {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media   (max-width: 750px) {
  .listaDeLibros {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media   (max-width: 720px) {
  .listaDeLibros {
    grid-template-columns: repeat(2, 1fr);
  }
  .filtros {
    display: none;
  }
}

@media   (max-width: 500px) {
  .listaDeLibros {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 20px;
  }
  .mobile-marginless {
    margin: 0 !important;
  }

  .mobile-align-center {
    align-items: center;
  }
}

@media (max-width: 400px) {
   .mobile-marginless {
    display: none;
   }
}