/* Tipografía */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Definición de elementos HTML básicos */
body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
}
/* section {
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/* Modelo de caja y posicionamiento */
* {
  box-sizing: border-box;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}


body {
  font-family: "Oswald", sans-serif;
}

/* Colores y variables */
:root {
  --primary-color: #031830;
  --secondary-color: #6c757d;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
}

/* Botones y formularios */
button,
input[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea {
  border: 1px solid var(--secondary-color);
  padding: 8px 12px;
  border-radius: 4px;
  outline: none;
  transition-duration: 300ms;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="number"]:hover,
select:hover,
textarea:hover {
  background-color: #f5f5f5;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  background-color: #f5f5f5;
}

/* Utilidades */
.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-main {
  max-width: 1440px;
  margin: 0 auto;
}

/* Estilos específicos */

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: white;
}

.nav-links-user div:hover {
  text-decoration: none;
}

.nav-links-user div span:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-links-user {
  display: flex;
  gap: 30px;
  font-size: 20px;
}

#menu-user,
#menu-wishlist,
#menu-cart {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
}

.menu-user-dropdown {
  position: absolute;
  z-index: 99;
  background-color: white;
  border: 1px solid #ddd;
  top: 100%;
  left: -40%;
  width: auto;
  height: auto;
  display: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 10px 5px 5px rgba(10, 10, 10, 0.058);
  overflow: hidden;
}

.menu-user-dropdown-content {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 0px !important;
  padding-top: 20px;
  width: 100%;
}

.menu-user-dropdown-content div {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  gap: 0px !important;
  width: 100%;
}

.menu-user-dropdown-content div a {
  width: 100%;
  padding: 6px 20px;
  text-decoration: none;
}
.menu-user-dropdown-content div a:hover {
  background-color: #ddd;
}

.menu-user-dropdown-content div button {
  width: 80%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
  transition: opacity 0.3s ease;
}

.genre-list-container {
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
}

.genre-list {
  display: flex;
  gap: 40px;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 500;
}

.genre-list li {
  cursor: pointer;
  padding: 12px 0 12px 0;
}

.genre-list li:hover {
  color: var(--primary-color);
}

.all-books-filter-container {
  border: 1px solid #ddd;
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 99;
  background-color: white;
  box-shadow: 5px 10px 5px rgba(10, 10, 10, 0.453);
  top: 100%;
  left: 0;
  display: none;
}

.all-books-filter-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.all-columns-filters {
  display: flex;
  flex-wrap: nowrap;
  gap: 5rem;
  padding: 30px 65px;
  justify-content: center;
}

.column-all-books-filters {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  user-select: none;
}

.column-all-books-filters h3 {
  margin-bottom: 10px;
}

.column-all-books-filters ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column-all-books-filters ul li {
  word-break: break-all;
  word-wrap: break-word;
  min-width: max-content;
}

footer {
  background-color: white;
  width: 100%;
  border-top: 1px solid #ddd;
  color: #fff;
  text-align: center;
  margin-top: 70px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 20px;
  border-bottom: 1px solid #ffffffa9;
}

.logo-contact-footer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-logo {
  margin-bottom: 10px;
}

.footer-logo img {
  width: 100%;
  max-width: 400px;
}

.logo-contact-footer a {
  display: inline-block;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

.logo-contact-footer a:hover {
  text-decoration: underline;
}

.logo-contact-footer a i {
  margin-right: 10px;
  padding-left: 10px;
}

.footer-sections-container {
  display: flex;
  flex-direction: column;
  color: black;
  gap: 20px;
  max-width: 100%;
}

.footer-sections-container div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
}

.footer-sections-container div h5 {
  display: flex;
  white-space: nowrap;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.social-media-footer {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.social-media-footer div {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.social-media-footer a {
  text-decoration: none;
  font-size: 20px;
  border: 0.125rem solid black;
  border-radius: 50%;
  width: 3.25rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: 0.3s ease-in-out;
}

.social-media-footer a:hover {
  background-color: #ddd;
}

/* Media queries */
@media only screen and (max-width: 1200px) {
  .logo-contact-footer {
    max-width: 300px;
  }

  .social-media-footer div {
    gap: 20px;
  }

  .footer-logo img {
    width: 100%;
  }
  .footer-sections-container div h5 {
    white-space: wrap;
  }
}

@media only screen and (max-width: 1150px) {
  .genre-list li:last-child {
    display: none;
  }
}

@media only screen and (max-width: 1075px) {
  .genre-list li:nth-last-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .contenedor-logo-hamburguer {
    width: 100%;
  }
  .mobile-grow-icon {
    flex-grow: 1;
  }
  .burger {
    display: block !important;
  }
  .nav-links-user,
  .genre-list-container {
    display: none;
  }
  /* .mobile-version {
    display: flex;
  } */
}

@media (min-width: 768px) {
  .logo-contact-footer {
    width: max-content;
  }
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-sections-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  /* .footer-sections-container div {
    max-width: 250px;
  } */
  .column-footer {
    width: 100%;
    max-width: 250px;
    margin-right: 3vw;
  }
  .footer-sections-container div div {
    width: fit-content;
  }
}

.mobile-version {
  display: none;
}

@media only screen and (max-width: 465px) {
  .footer-content{ 
    padding: 0 !important;
    align-items: center;
  }
  .upper-navbar-container {
    display: flex;
    justify-content: center !important;
  }
  .us-desktop-version {
    display: none;
  }
  .us-mobile-version {
    display: flex !important;
  }
  .upper-navbar-container > a > i {
    display: none;
  }
  .mobile-grow-icon {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .icon-desktop-version {
    display: none;
  }
  .contenedor-logo-hamburguer {
    padding-bottom: 10px;
  }
  .icon-mobile-version {
    height: 70px;
    display: block !important;
  }
}
